[v-cloak] {
    display:none;
 
 }
html{
    height: 100%;
    
}
.content_body{
    background-color: #f8fbfc;
    min-width: 1200px;
    padding-bottom: 20px;
}
.header{
    display: flex;
    padding:0 20px;
    min-width: 1200px;
    width: 100%;
    height: 50px;
    background-color: #fff;
    box-sizing: border-box;
    
}
.logo{
    width: 50%;
    height: 50px;
    background: url(../imgs/logoljp.png) no-repeat left center;
    background-size: 300px;
}
.login_name{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    text-align: right;
    line-height: 50px;
}
.avatar>img{
    width: 25px;
    height: 25px;
    margin-top: calc((50px - 25px)/2);
    
}
.username{
    padding-right: 30px;
    margin-left: 10px;
    font-weight: 600;
}
.login_name .el-divider{
    height: 100% !important;
}
.login_name i.el-icon-switch-button:hover{
    color: red;
}
.main{
    margin-top: 20px;
    padding: 0 20px;
}
.main .content{
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px #d6e9ff;
}
.content_top{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.content_title{
    width: 30%;
    height: 50px;
    background: url(../imgs/title_ljp.png) no-repeat left center;
    background-size: 180px;
}
.content_handle > a{
    display: inline-block;
    margin-right: 20px;
    height: 30px;
    color: #c3c6cc;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    background-size: 25px;
}
.content_handle > a:hover{
    text-decoration: underline;
    color: #4089ff;
}
.start_ljp{
    position: absolute;
    top: 8px;
    width: 25px;
    height: 25px;
    background: url(../imgs/start_ljp.png) no-repeat center;
    background-size: 25px;
}
/* 导入数据 */
.file {
    position: relative;
    width: 90px;
    background: url(../imgs/icon_ljp02.png) no-repeat right center;
}
.file input {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    opacity: 0;
}
.icon_edit{
    background: url(../imgs/icon_ljp01.png) no-repeat right center;
}
.icon_export{
    width: 120px;
    background: url(../imgs/icon_ljp03.png) no-repeat right center;
 
}
.content_handle .el-input{
    width: 332px;
}
.table_content{
    margin-top: 10px;
}

.el-table--enable-row-hover .el-table__body tr:hover>td {
    color: #3c83ff;
    cursor: pointer;
    font-weight: 600;
}
.el-table__header-wrapper{
    z-index: 1000;
    position: relative;
    border-radius: 7px;
    box-shadow: 0 0 10px #d1e1fa;
}
.el-table th.is-leaf{
    border: none !important;
}
.el-table::before {
    height: 0px !important;
}
.el-tag{
    height: 20px !important;
    line-height: 20px !important;
}
.wy_login-box{
    background: url('../imgs/wy_bg.png') no-repeat;
    background-size: cover;
    height: 100%;
}
.wy_login_main{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 76%;
    height: 80%;
    background: url('../imgs/wy_mainBg.png') no-repeat;
    background-size:cover; 
    padding: 1px;
}
.wy_login_logo{
    display: block;
    margin:36px 30px;
}
.wy_login_logo img{
    width: 166px;
}
.wy_login_Inputs{
    margin-top:80px;
    margin-left:50px;
    color: #4c64ff;
    font-size: 32px;
    letter-spacing: 4px;
    font-family: FZLTDHJW--GB1-0;
}
.wy_login_Inputs>h4{
    margin-bottom: 30px;
}
.wy_login_Inputs>div{
    margin-bottom: 20px;
    position: relative;
    width: 292px;
	height: 42px;
	background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    /* border: 1px solid #EEF3FA; */
    box-shadow:0px 0px  10px 5px #EEF3FA;
}
.wy_login_Inputs>div>input{
    position: absolute;
    top:-2px;
    width: 100%;
    height: 100%;
    border: none;
    font-family: SourceHanSansHWSC-Regular;
    font-size: 18px;
    text-indent:41px;
}
.wy_login_Inputs>div>img{
    position: absolute;
    z-index: 2;
    top:6px;
    left:10px;
}
.wy_login_Inputs input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge 适配谷歌*/
    color: #76acf2 !important;
}

.wy_login_Inputs input::-moz-placeholder {
    /* Mozilla Firefox 4 to 18 适配火狐*/
    color: #76acf2 !important;
}

.wy_login_Inputs input:-moz-placeholder {
    /* Mozilla Firefox 19+ 适配火狐*/
    color: #76acf2 !important;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 适配ie*/
    color: #76acf2 !important;
}
.wy_remberPwd{
    font-size: 16px;
    color: #a1a1a1;

}
.wy_remberPwd>input{
    width: 23px;
	height: 23px;
	background-color: #ffffff;
	border-radius: 5px;
    border: solid 1px #cccfd3;
    vertical-align:middle;
}
.wy_loginBtn{
    margin-top: 14px;
    border: none;
    width: 208px;
	height: 42px;
	background-color: #4c64ff;
    border-radius: 21px;
    color: #ffffff;
    font-family: SourceHanSansSC-Medium;
    font-size: 22px;
    text-align: center;
    line-height:42px;
}
.wy_studentDeilDraw .el-drawer__body{
    padding:0 20px 20px;
}
.wy_studentDeilDraw .el-drawer{
    width:640px!important;
    color: #3e86ff;
    font-size: 16px;
    font-weight: bold;
    font-family: AdobeHeitiStd-Regular;
}
.wy_studentDeilDraw .wy_row{
    margin-top: 20px;
}
.wy_studentDeilDraw .wy_row:first-child{
    margin-top: 30px;
}
.wy_studentDeilDraw .wy_left_col{
    text-align: center;
    line-height: 48px;
}
.wy_desci{
    color: #999999;
    line-height: 30px;
}
.wy_desci p{
    margin: 10px 0;
}
.demo-input-suffix .el-input{
    width: 74%;
    margin: 12px 0;
}
.demo-input-suffix .el-textarea{
    width: 74%;
    margin: 12px 0;
    vertical-align: middle;
}
.wy_Experience span{
    padding-right: 20px;
}
.el-drawer.rtl{
    overflow-y: auto;
}
.el-drawer__header{
    margin-bottom: 0;
}
