<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/employSys.css">
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.14.1/theme-chalk/index.css">
  <title>就业实习跟踪系统</title>
</head>

<body class="content_body">
  <div id="app">
    <div class="header">
      <div class="logo"></div>
      <div class="login_name">
        <span class="avatar">
          <img src="imgs/avatar_ljp.png" alt="">
        </span>
        <span class="username">{{loginName.name}}</span>
        <el-divider direction="vertical" content-position="center" style="height: 100%;"></el-divider>
        <i class="el-icon-switch-button" style="font-size: 20px;line-height: 50px;cursor: pointer;" title="退出"
          @click="loginout"></i>
      </div>
    </div>
    <div class="main">
      <div class="content">
        <div class="content_top">
          <div class="content_title"></div>
          <div class="content_handle">
            <!-- <a href="#" class="icon_edit">数据修改</a> -->
            <template v-if="roleBool">
              <a href="javascript:;" class="file"> 导入数据
                <input type="file" class="uploadExcel" accept=".xls, .xlsx" id="importExcel"
                  @change="uploadData" />
              </a>
              <a href="#" class="icon_export" @click="downloadData">导出数据</a>
            </template>
            <el-input v-show="showTable" placeholder="学校或班级名称" suffix-icon="el-icon-search" v-model="searchSchool">
            </el-input>
            <el-input v-show="!showTable" placeholder="学生姓名或公司名称" suffix-icon="el-icon-search" v-model="searchStudent">
            </el-input>
            <div>
              <el-button type="primary" icon="el-icon-back" size="mini">返回</el-button>
            </div>
          </div>
        </div>
        <div class="table_content">
          <template>
            <!-- 所有合作院校数据 -->
            <el-table ref="multipleTable" v-show="showTable"
              :header-cell-style="{color: '#fff', fontSize: '12px', backgroundColor: '#3e85ff'}"
              :data="searchSchool ? tableData.filter(data => !searchSchool || searchFilter(data)) : pageFilter"
              @selection-change="handleSelectionChange" tooltip-effect="dark"
              @row-click="studentListData"
              style="width: 100%;padding: 10px;border: none;">
              <el-table-column type="selection" width="55">
              </el-table-column>
              <el-table-column label="序号" width="60" type="index">
              </el-table-column>
              <el-table-column prop="college" label="院校" min-width="170">
                <template slot-scope="scope">{{ scope.row.college }}</template>
              </el-table-column>
              <el-table-column prop="grade" label="年级" min-width="60">
                <template slot-scope="scope">{{ scope.row.grade }}</template>
              </el-table-column>
              <el-table-column prop="education" label="学历" min-width="60">
                <template slot-scope="scope">{{ scope.row.education }}</template>
              </el-table-column>
              <el-table-column prop="subject" label="专业方向" min-width="120">
              </el-table-column>
              <el-table-column prop="studentCount" label="年级学生总数(人)" show-overflow-tooltip min-width="120">
              </el-table-column>
              <el-table-column prop="higherSchoolCount" label="专升本数量(人)" show-overflow-tooltip min-width="120">
              </el-table-column>
              <el-table-column prop="jobStuCount" label="就业总数(人)" show-overflow-tooltip min-width="120">
              </el-table-column>
              <el-table-column prop="autonomouslyCount" label="自主就业(人)" show-overflow-tooltip min-width="120">
              </el-table-column>
              <el-table-column prop="recommendCount" label="推荐就业(人)" show-overflow-tooltip min-width="120">
              </el-table-column>
              <el-table-column prop="subjectCount" label="专业对口(人)" show-overflow-tooltip min-width="120">
              </el-table-column>
              <el-table-column prop="starCount" label="就业明星(人)" show-overflow-tooltip min-width="120">
              </el-table-column>
              <!-- <el-table-column prop="salaryAvg" label="实习平均薪资(元)" show-overflow-tooltip min-width="120">
                <span>¥</span>
                <template slot-scope="scope">{{ "¥" + scope.row.salaryAvg.toFixed(2) }}</template>
              </el-table-column> -->
              <el-table-column label="整体就业率(%)" show-overflow-tooltip min-width="120">
                <template slot-scope="scope">{{ ((scope.row.jobStuCount / scope.row.studentCount)*100).toFixed(2) + "%"}}</template>
              </el-table-column>
              <el-table-column label="推荐就业率(%)" show-overflow-tooltip min-width="120">
                <template slot-scope="scope">{{ ((scope.row.recommendCount / scope.row.jobStuCount)*100).toFixed(2) + "%"}}</template>
              </el-table-column>
              <el-table-column label="专业对口率(%)" show-overflow-tooltip min-width="120">
                <template slot-scope="scope">{{ ((scope.row.subjectCount / scope.row.recommendCount)*100).toFixed(2) + "%"}}</template>
              </el-table-column>
              <el-table-column label="操作" width="60" >
                <template slot-scope="scope">
                  <el-button @click="studentListData(scope.row)" type="text" size="small">查看</el-button>
                  <!-- <el-button type="text" size="small">编辑</el-button> -->
                </template>
              </el-table-column>
            </el-table>
            <!-- 院校对应学生数据 -->
            <el-table v-show=" !showTable "
              :header-cell-style="{color: '#fff', fontSize: '12px', backgroundColor: '#3e85ff'}"
              :data="searchStudent ? stusListData.filter( stuData => !searchStudent || searchFilter(stuData)) : pageFilter"
              style="width: 100%;padding: 10px;border: none;">
              <el-table-column type="selection" width="55">
              </el-table-column>
              <el-table-column label="序号" width="50" type="index">
              </el-table-column>
              <el-table-column label="姓名" width="80">
                <template slot-scope="scope">{{ scope.row.name }}</template>
              </el-table-column>
              <el-table-column label="性别" width="60">
                <template slot-scope="scope">{{ scope.row.gender }}</template>
              </el-table-column>
              <el-table-column label="班级" width="80">
                <template slot-scope="scope">{{ scope.row.gradeName }}</template>
              </el-table-column>
              <el-table-column prop="educationName" label="学历" width="80">
                <template slot-scope="scope">{{ scope.row.educationName }}</template>
              </el-table-column>
              <el-table-column prop="phone" label="电话" min-width="120">
                <template slot-scope="scope">{{ scope.row.phone }}</template>
              </el-table-column>
              <el-table-column prop="company" label="入职公司" show-overflow-tooltip min-width="100">
              </el-table-column>
              <el-table-column label="薪资(元)" show-overflow-tooltip min-width="100">
                <template slot-scope="scope">{{ scope.row.salary ?  "¥" + scope.row.salary.toFixed(2) : "¥0.00" }}</template>
              </el-table-column>
              <el-table-column prop="address" label="工作地点" width="100" show-overflow-tooltip>
                <template slot-scope="scope">{{ scope.row.address }}</template>
              </el-table-column>
              <el-table-column label="入职日期" width="120">
                <template slot-scope="scope">{{ format(scope.row.jobdate ,"yyyy-MM-dd")}}</template>
              </el-table-column>
              <el-table-column prop="subjectName" label="专业方向" width="120">
              </el-table-column> -->
              <el-table-column prop="empType" label="就业方式" width="120">
                <template slot-scope="scope">{{ scope.row.empType }}</template>
              </el-table-column>
              <el-table-column prop="orRight" label="专业对口" width="120">
                <template slot-scope="scope">{{ scope.row.orRight ? "是" : "否" }}</template>
              </el-table-column>
              <el-table-column width="100">
                <template slot="header" slot-scope="scope">
                  <el-button icon="el-icon-back" round size="mini" @click="handleClickBack"
                    style="padding: 5px 12px;">
                  </el-button>
                </template>
                <template slot-scope="scope">
                  <el-button @click="handleClickDetails(scope.row)" type="text" size="small">详情</el-button>
                </template>
              </el-table-column>
            </el-table>
          </template>
          <!-- 分页 -->
          <el-pagination v-show="showTable" small layout="prev, pager, next" :page-size="pageSize"
            @prev-click="prevPage" @next-click="nextPage" @current-change="currentPageFunc" :current-page='currentPage'
            :total="searchSchool ? pageFilter.length : tableData.length ">
          </el-pagination>
          <el-pagination v-show="!showTable" small layout="prev, pager, next" :page-size="pageSize"
            @prev-click="prevPage" @next-click="nextPage" @current-change="currentPageFunc" :current-page='currentPage'
            :total="searchStudent ? pageFilter.length : stusListData.length ">
          </el-pagination>
        </div>
      </div>
    </div>
    <el-drawer title="我是标题" :visible.sync="drawerDetails" :with-header="false">
      <span>我来啦!</span>
    </el-drawer>
  </div>
  <script src="js/jquery-1.11.3.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.js"></script>
  <script src="js/element-ui.js"></script>
  <script src="js/api.js"></script>
  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          drawerDetails: false,//弹框默认不显示
          showTable: true,
          searchSchool: '', //搜索学校
          searchStudent: '', //搜索学生
          pageSize: 10,  //默认一页显示数据个数
          currentPage: 1,  //当前页码
          tableData: [],  // 学校数据
          stusListData: [],   //指定学校下的学生列表 数据
          multipleSelection: [],   //选中数据
          loginName: "",
          roleBool: false

        }
      },
      created() {
        let loginInfo = localStorage.getItem("loginInfo");
        this.loginName = JSON.parse(loginInfo);
        if (this.loginName) {
          const roleId = {
            roleId: this.loginName.roleId
          }
          this.schoolListData(roleId)
          if (this.loginName.roleId == 1) {
            this.roleBool = true;
          }
        }
      },
      computed: {
        //分页
        pageFilter() {
          //开始数据的下标
          let startVal = parseInt((this.currentPage - 1) * this.pageSize);
          if (this.showTable) {
            return this.tableData.slice(startVal, startVal + this.pageSize);
          } else {
            return this.stusListData.slice(startVal, startVal + this.pageSize);
          }
          //1页 0  5  1-1 *5     (currentPage-1)*pageSize    (currentPage-1)*pageSize + pageSize
          //2页 5 10   2-1 *5
          //3页 10 15   3-1 *5
        },

      },
      methods: {
        ///搜索条件
        searchFilter(data) {
          if (this.showTable) {
            return data.college.toLowerCase().includes(this.searchSchool.toLowerCase()) || data.grade.toLowerCase().includes(this.searchSchool.toLowerCase())
          } else {
            return data.name.toLowerCase().includes(this.searchStudent.toLowerCase()) || (data.company ? data.company.toLowerCase().includes(this.searchStudent.toLowerCase()) : data.company)
          }

        },
        handleSelectionChange(val) {
          val.forEach(element => {
            this.multipleSelection.push(element.id)
          });
          console.log(this.multipleSelection);
        },
        //编辑
        handleClick(obj) {
          console.log(obj)
        },
        //返回
        handleClickBack() {
          this.currentPage =1;
          this.searchStudent='';
          this.showTable = true;
        },
        //分页切换，上一页
        prevPage(val) {
          this.currentPage = val
        },
        //下一页
        nextPage(val) {
          this.currentPage = val
        },
        //当前页
        currentPageFunc(val) {
          this.currentPage = val
        },
        //导入数据
        async uploadData(type) {
          var _self = this;
          let fileFormData = new FormData();
          fileFormData.append("file", $("#importExcel")[0].files[0]);
          let requestConfig = {
            headers: {
              "Content-Type": "multipart/form-data",
            },
          };
          await uploadDataApi (fileFormData,requestConfig);
        },
        //导出数据
        async downloadData(){
          //默认导出所有数据
          const dataAllId=[]
          this.tableData.forEach(element => {
            dataAllId.push(element.id)
          });
          const arrId = this.multipleSelection.length > 0 ? this.multipleSelection : dataAllId
          // if (this.multipleSelection.length > 0) {
            await downloadDataApi(arrId).then(result=>{
              let url = window.URL.createObjectURL(result);
              let link=document.createElement('a');
              link.style.display='none'
              link.href=url;
            link.setAttribute('id', 'downloadLink')
            link.setAttribute('download','学生就业信息表.xls');
            document.body.appendChild(link)
            link.click();

            // 删除添加的a链接
            let objLink = document.getElementById('downloadLink')
            document.body.removeChild(objLink)
            this.multipleSelection.length=0;
          })
          // }else{
          //   this.$message('请先选择要导出数据的学校！');
          // }
      },
        //通过用户查询学校学生信息
        async schoolListData(roleId) {
          this.tableData = await schoolListDataApi(roleId);
        },
        //分组查看学生列表，单击某个学校查看对应的学生数据
        async studentListData(row) {
          this.searchSchool='';
          this.showTable = false;
          this.currentPage =1;
          let stuPramas = {
            "collegeId": row.collegeId,
            "gradeid": row.gradeid
          }
          this.stusListData = await studentListDataApi(stuPramas);
        
        },
        //退出
        loginout() {
          this.$confirm('确定要退出吗?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
            center: true
          }).then(() => {
            this.$message({
              type: 'success',
              message: '退出成功!'
            });
            localStorage.clear();
            window.location.href = "login.html";
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '已取消退出'
            });
          });
        },
        //日期格式化
        format(time, format) {
          var t = new Date(time);
          var tf = function (i) {
            return (i < 10 ? '0' : '') + i
          };
          return format.replace(/yyyy|MM|dd|HH|mm|ss/g, function (a) {
            switch (a) {
              case 'yyyy':
                return tf(t.getFullYear());
                break;
              case 'MM':
                return tf(t.getMonth() + 1);
                break;
              case 'mm':
                return tf(t.getMinutes());
                break;
              case 'dd':
                return tf(t.getDate());
                break;
              case 'HH':
                return tf(t.getHours());
                break;
              case 'ss':
                return tf(t.getSeconds());
                break;
            }
          })
        }
      }
    })
  </script>
</body>

</html>