<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.14.1/theme-chalk/index.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/employSys.css">
  
  <title>就业实习跟踪系统</title>
</head>

<body class="content_body">
  <div id="app" v-cloak>
    <div class="header">
      <div class="logo"></div>
      <div class="login_name">
        <span class="avatar">
          <img src="imgs/avatar_ljp.png" alt="">
        </span>
        <span class="username">{{loginName.name}}</span>
        <el-divider direction="vertical" content-position="center" style="height: 100%;"></el-divider>
        <i class="el-icon-switch-button" style="font-size: 20px;line-height: 50px;cursor: pointer;" title="退出"
          @click="loginout"></i>
      </div>
    </div>
    <div class="main">
      <div class="content">
        <div class="content_top">
          <div class="content_title"></div>
          <div class="content_handle">
            <!-- <a href="#" class="icon_edit">数据修改</a> -->
            <template v-if="roleBool && showTable">
              <a href="javascript:;" class="file"> 导入数据
                <input type="file" ref="fileInput" multiple="multiple" class="uploadExcel" accept=".xls, .xlsx"
                  id="importExcel" @change="uploadData" />
              </a>
            </template>
            <a href="#" class="icon_export" @click="downloadData">{{ showTable ?"导出学校数据":"导出学生数据"}}</a>
            <el-input v-show="showTable" placeholder="学校或班级名称" suffix-icon="el-icon-search" v-model="searchSchool">
            </el-input>
            <el-input v-show="!showTable" placeholder="学生姓名或公司名称" suffix-icon="el-icon-search" v-model="searchStudent">
            </el-input>
          </div>
        </div>
        <!-- 表格数据 -->
        <div class="table_content">
          <div style="text-align: right;height: 30px;">
            <el-button v-show="!showTable" type="info" icon="el-icon-back" size="mini" round style="margin-right: 15px;"
              @click="handleClickBack">返回</el-button>
          </div>
          <template>
            <!-- 所有合作院校数据 -->
            <el-table ref="multipleTable" v-show="showTable"
              :header-cell-style="{color: '#fff', fontSize: '12px', backgroundColor: '#3e85ff'}"
              :data="searchSchool ? tableData.filter(data => !searchSchool || searchFilter(data)) : pageFilter"
              @selection-change="handleSelectionChange" tooltip-effect="dark" @row-click="studentListData"
              style="width: 100%;padding: 10px;border: none;"
              :max-height="tableMaxHeight"
              >
              <el-table-column type="selection" width="55">
              </el-table-column>
              <el-table-column label="序号" width="60" type="index">
              </el-table-column>
              <el-table-column prop="college" label="院校" min-width="170" show-overflow-tooltip>
                <template slot-scope="scope">{{ scope.row.college }}</template>
              </el-table-column>
              <el-table-column prop="grade" label="年级" min-width="60">
                <template slot-scope="scope">{{ scope.row.grade }}</template>
              </el-table-column>
              <el-table-column prop="education" label="学历" min-width="60">
                <template slot-scope="scope">{{ scope.row.education }}</template>
              </el-table-column>
              <el-table-column prop="subject" label="专业方向" min-width="120">
              </el-table-column>
              <el-table-column prop="studentCount" label="年级学生总数(人)" show-overflow-tooltip min-width="120">
              </el-table-column>
              <el-table-column prop="higherSchoolCount" label="专升本数量(人)" show-overflow-tooltip min-width="120">
              </el-table-column>
              <el-table-column prop="jobStuCount" label="就业总数(人)" show-overflow-tooltip min-width="100">
              </el-table-column>
              <el-table-column prop="autonomouslyCount" label="自主就业(人)" show-overflow-tooltip min-width="100">
              </el-table-column>
              <el-table-column prop="recommendCount" label="推荐就业(人)" show-overflow-tooltip min-width="100">
              </el-table-column>
              <el-table-column prop="subjectCount" label="专业对口(人)" show-overflow-tooltip min-width="100">
              </el-table-column>
              <el-table-column prop="starCount" label="就业明星(人)" show-overflow-tooltip min-width="100">
              </el-table-column>
              <el-table-column prop="salaryAvg" label="实习平均薪资(元)" show-overflow-tooltip min-width="120">
                <template slot-scope="scope">{{scope.row.salaryAvg ? "¥" + scope.row.salaryAvg.toFixed(2) :
                  "¥0.00"}}</template>
              </el-table-column>
              <el-table-column label="整体就业率(%)" show-overflow-tooltip min-width="120">
                <template slot-scope="scope">{{ (scope.row.allRate*100).toFixed(2) + "%"}}</template>
              </el-table-column>
              <el-table-column label="推荐就业率(%)" show-overflow-tooltip min-width="120">
                <template slot-scope="scope">{{ (scope.row.aecommendRate*100).toFixed(2) +
                  "%"}}</template>
              </el-table-column>
              <el-table-column label="专业对口率(%)" show-overflow-tooltip min-width="120">
                <template slot-scope="scope">{{ (scope.row.subjectRate * 100).toFixed(2) + "%" }}</template>
              </el-table-column>
              <el-table-column label="操作" width="100">
                <template slot-scope="scope">
                  <el-button @click="studentListData(scope.row)" type="text" size="small">查看</el-button>
                  <el-button @click.native.stop="deleteClass(scope.row)" type="text" size="small" style="color:red;">删除
                  </el-button>
                </template>
              </el-table-column>
            </el-table>
            <!-- 院校对应学生数据 -->
            <template>
              <el-table v-show=" !showTable " ref="multipleStuTable"
                :header-cell-style="{color: '#fff', fontSize: '12px', backgroundColor: '#3e85ff'}"
                @selection-change="handleSelectStudent"
                @row-dblclick="handleClickDetails"
                @cell-click="editStudentInfo"
                :data="searchStudent ? stusListData.filter( stuData => !searchStudent || searchFilter(stuData)) : pageFilter"
                style="width: 100%;padding: 10px;border: none;" :max-height="tableMaxHeight">
                <el-table-column type="selection" width="55">
                </el-table-column>
                <el-table-column label="序号" width="60" type="index">
                </el-table-column>
                <el-table-column label="姓名" min-width="100">
                  <template slot-scope="scope">
                   
                    <el-input v-if="scope.row.id == editInfo && editStatus" v-model="editName" autofocus @blur="saveInfo(scope.row.id)" @change="saveInfo(scope.row.id)"  placeholder="请输入内容"></el-input>
                    <div v-else>
                      {{ scope.row.name }}
                      <span v-if="scope.row.orStar" class="start_ljp"></span>
                     </div>
                  </template>
                </el-table-column>
                <el-table-column label="性别" width="60">
                  <template slot-scope="scope">{{ scope.row.gender }}</template>
                </el-table-column>
                <el-table-column label="班级" width="80">
                  <template slot-scope="scope">{{ scope.row.gradeName }}</template>
                </el-table-column>
                <el-table-column prop="collegeName" label="所属学校" show-overflow-tooltip min-width="150">
                </el-table-column>
                <el-table-column prop="educationName" label="学历" width="80">
                  <template slot-scope="scope">{{ scope.row.educationName }}</template>
                </el-table-column>
                <el-table-column prop="phone" label="电话" min-width="120">
                  <template slot-scope="scope">{{ scope.row.phone }}</template>
                </el-table-column>
                <el-table-column prop="company" label="入职公司" show-overflow-tooltip min-width="100">
                </el-table-column>
                <el-table-column label="薪资(元)" show-overflow-tooltip min-width="100">
                  <template slot-scope="scope">{{ scope.row.salary ? "¥" + scope.row.salary.toFixed(2) : "¥0.00"
                    }}</template>
                </el-table-column>
                <el-table-column prop="salaryRemark" label="福利" width="100" show-overflow-tooltip>
                </el-table-column>
                <el-table-column prop="address" label="工作地点" width="100" show-overflow-tooltip>
                  <template slot-scope="scope">{{ scope.row.address }}</template>
                </el-table-column>
                <el-table-column label="曾入职公司" show-overflow-tooltip min-width="100">
                  <template slot-scope="scope">
                    {{scope.row.companyList.join("，")}}
                  </template>
                </el-table-column>
                <el-table-column prop="workCount" label="换工作(次)" show-overflow-tooltip min-width="100">
                </el-table-column>

                <el-table-column label="入职日期" width="120">
                  <template slot-scope="scope">{{ scope.row.jobdate ? format(scope.row.jobdate ,"yyyy-MM-dd") :
                    ""}}</template>
                </el-table-column>
                <el-table-column prop="subjectName" label="专业方向" min-width="100">
                </el-table-column>
                <el-table-column prop="empType" label="就业方式" width="100">
                  <template slot-scope="scope">{{ scope.row.empType }}</template>
                </el-table-column>
                <el-table-column prop="orRight" label="专业对口" width="100">
                  <template slot-scope="scope">
                    <el-tag v-if="scope.row.orRight == '是'">
                      {{ "是" }}
                    </el-tag>
                    <el-tag v-else type="danger">
                      {{ "否" }}
                    </el-tag>
                  </template>
                </el-table-column>
                <el-table-column min-width="100" label="操作">
                  <!-- <template slot="header" slot-scope="scope">
                    <el-button icon="el-icon-back" round size="mini" @click="handleClickBack"
                      style="padding: 5px 12px;">
                    </el-button>
                  </template> -->
                  <template slot-scope="scope">
                    <el-button @click="handleClickDetails(scope.row)" type="text" size="small">详情</el-button>
                    <el-button v-show="roleBool" @click.native.stop="deleteStudent(scope.row)" type="text" size="small">删除
                    </el-button>
                  </template>
                </el-table-column>
              </el-table>
            </template>
          </template>
          <!-- 分页 -->
          <el-pagination v-show="showTable" small layout="prev, pager, next" :page-size="pageSize"
            @prev-click="prevPage" @next-click="nextPage" @current-change="currentPageFunc" :current-page='currentPage'
            :total="searchSchool ? pageFilter.length : tableData.length ">
          </el-pagination>
          <el-pagination v-show="!showTable" small layout="prev, pager, next" :page-size="pageSize"
            @prev-click="prevPage" @next-click="nextPage" @current-change="currentPageFunc" :current-page='currentPage'
            :total="searchStudent ? pageFilter.length : stusListData.length ">
          </el-pagination>
        </div>
      </div>
    </div>
    <div v-cloak>
      <el-drawer class="wy_studentDeilDraw" :before-close="handleClose" :visible.sync="drawerDetails"
        >
        <el-row>
          
          <el-col :span="2" style="height: 200px;margin-bottom: 20px;">
            <!-- <el-image style="width: 140px; height: 200px" :src=`${baseUrl}${studentAvatar}` fit="fill"></el-image> -->
          </el-col>
          <el-col :span="20">
            <el-row class="wy_row">
              <el-col :span="14">姓名：{{studentDetail.name}}</el-col>
              <el-col :span="10">性别：{{studentDetail.gender}}</el-col>
            </el-row>
            <el-row class="wy_row">
              <el-col :span="14">年龄：{{toAge(studentDetail.birthday)}}岁</el-col>
              <el-col :span="10">籍贯：{{studentDetail.nativePlace}}市</el-col>
            </el-row>
            <el-row class="wy_row">
              <el-col :span="24">出生年月：{{format(studentDetail.birthday,'yyyy年MM月')}}</el-col>
            </el-row>
            <el-row class="wy_row">

              <el-col :span="24">毕业院校：{{studentDetail.collegeName}}</el-col>

            </el-row>
            <el-row class="wy_row">
              <el-col :span="14">联系电话：{{studentDetail.phone}}</el-col>
              <el-col :span="10">所学专业：{{studentDetail.subjectName}}</el-col>
            </el-row>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span='7' class="wy_left_col">
            个人技能
          </el-col>
          <el-col :span='15'>
            <el-divider></el-divider>
          </el-col>
          <el-row class="wy_desci">
            <el-col :span='22' :push='2'>
              <p v-if='studentDetail.credential'>
                证书：{{studentDetail.credential}}
              </p>
              <p v-if='studentDetail.megagame'>
                大赛经验：{{studentDetail.megagame}}
              </p>
              <span v-if='studentDetail.skill'>
                {{studentDetail.skill}}
              </span>
              <span v-else>暂无个人技能</span>
            </el-col>
          </el-row>

        </el-row>
        <el-row>
          <el-col :span='7' class="wy_left_col">
            工作经历
          </el-col>
          <el-col :span='15'>
            <el-divider></el-divider>
          </el-col>

          <el-row class="wy_desci" v-if='studentWorkExperience.length!=0'>
            <el-col style="margin-bottom:12px;" class="wy_Experience" :span='22' :push='2'
              v-for='item in studentWorkExperience'>
              <span>{{item.company}}</span>
              <span v-if='item.positionName' style="float:right;">岗位:{{item.positionName}}</span>
              <br>
              <span>时间：{{item.jobDate?item.jobDate:'实习'}}-{{item.leaveDate?item.leaveDate:'至今'}}</span>
              <span style="float:right">薪资：{{item.salary}}/月 <span
                  v-if='item.salaryRemark'>+{{item.salaryRemark}}</span> </span>
              <br>
              <span>公司地点:{{item.address}} </span>
              <span style="float:right" v-if='item.jobNumber'>工号:{{item.jobNumber}} </span>
              <br>
              <span v-if='item.cause'>离职原因：{{item.cause}}</span>
            </el-col>
          </el-row>
          <el-row v-else class="wy_desci">
            <el-col :span='22' :push='2'>
              暂无工作经历
            </el-col>
          </el-row>
          <el-row v-if='roleBool'>
            <el-col :span='4' :push='18'>
              <el-button type="primary" @click="addVisible = true" round>新增经历</el-button>
            </el-col>
          </el-row>
        </el-row>

        <el-row>
          <el-col :span='7' class="wy_left_col">
            自我评价
          </el-col>
          <el-col :span='15'>
            <el-divider></el-divider>
          </el-col>
          <el-row class="wy_desci">
            <el-col :span='22' :push='2'>
              <span v-if='studentDetail.summary'> {{studentDetail.summary}}</span>
              <span v-else>暂无自我评价</span>
            </el-col>
          </el-row>
        </el-row>
      </el-drawer>
      <el-dialog title="新增工作经历" :visible.sync="addVisible" width="30%" :before-close="handleClose">
        <span>
          <div class="demo-input-suffix">
            入职公司：
            <el-input placeholder="请输入入职公司" v-model='workExperience.company'>
            </el-input>
            <span style="color:red;">*</span>
          </div>
          <div class="demo-input-suffix">
            入职地点：
            <el-input placeholder="请输入入职地点" v-model='workExperience.address'>
            </el-input>
            <span style="color:red;">*</span>
          </div>
          <div class="demo-input-suffix">
            入职岗位：
            <el-input placeholder="请输入入职岗位" v-model='workExperience.positionName'>
            </el-input>
          </div>

          <div class="demo-input-suffix">
            入职工号：
            <el-input placeholder="请输入入职工号" v-model='workExperience.jobNumber'>
            </el-input>
          </div>
          <div class="demo-input-suffix">
            入职薪水：
            <el-input type="number" placeholder="请输入入职薪水" v-model='workExperience.salary'>
            </el-input>
          </div>
          <div class="demo-input-suffix">
            入职福利：
            <el-input placeholder="请输入其他福利" v-model='workExperience.salaryRemark'>
            </el-input>
          </div>
          <div class="demo-input-suffix">
            入职时间：
            <el-date-picker type="date" placeholder="选择日期" v-model='workExperience.jobDate'>
            </el-date-picker>
          </div>
          <div class="demo-input-suffix">
            <pre style="display:inline-block;vertical-align: middle;">
上家公司
离职时间：
          </pre>
            <el-date-picker type="date" placeholder="选择日期" v-model='workExperience.leaveDate'>
            </el-date-picker>
          </div>
          <div class="demo-input-suffix">
            <pre style="display:inline-block;vertical-align: middle;">
上家公司
离职原因：
          </pre>
            <el-input v-model='workExperience.cause' type="textarea" :autosize="{ minRows: 2, maxRows: 4}"
              placeholder="请输入内容">
            </el-input>
          </div>
        </span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="addVisible = false">取 消</el-button>
          <el-button type="primary" @click="addWorkExperience">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
  <script src="js/jquery-1.11.3.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.4/vue.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.14.1/index.min.js"></script>
  <script src="js/api.js"></script>
  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          baseUrl: 'http://47.95.13.193:80/Job-1.0-SNAPSHOT/',
          addVisible: false,//新增弹框默认隐藏
          workExperience: {   //新增工作经历
            company: '',//入职公司
            positionName: '',//入职岗位
            address: '',//公司地点
            jobNumber: '',//入职工号
            salary: '',//入职薪资
            salaryRemark: '',//福利
            jobDate: '',//入职时间
            leaveDate: '',//上家公司离职时间
            cause: ''//上家公司离职原因
          },
          rules: {
            company: [{ required: true, message: '请输入', trigger: 'blur' }],
            address: [{ required: true, message: '请输入', trigger: 'blur' }]
          },
          editStatus:false,
          editInfo:"",
          editName:"",  //修改的学生姓名
          studentId: '',//学生id
          studentAvatar: {},//学生头像
          studentWorkExperience: [],//学生经历
          studentDetail: {},//学生基本信息
          drawerDetails: false,//弹框默认不显示
          showTable: true,  //表格切换
          searchSchool: '', //搜索学校
          searchStudent: '', //搜索学生
          pageSize: 10,  //默认一页显示数据个数
          currentPage: 1,  //当前页码
          tableData: [],  // 学校数据
          stusListData: [],   //指定学校下的学生列表 数据
          stuListId: [],   //导出数据学生id
          multipleSelection: [],   //选中学校数据
          loginName: "",   //用户本地登录信息
          roleBool: false,   //是否显示管理员的权限操作
          stuPramas: {}

        }
      },
      created() {
        let loginInfo = localStorage.getItem("loginInfo");
        this.loginName = JSON.parse(loginInfo);
        if (this.loginName) {
          const roleId = {
            roleId: this.loginName.roleId,
            id: this.loginName.id
          }
          this.schoolListData(roleId)
          if (this.loginName.roleId == 1) {
            this.roleBool = true;
          }
        } else {
          this.$message.warning("请先进行登录后再查看数据！");
          location.href = "login.html";
          return;
        }
      },

      computed: {
        //分页
        pageFilter() {
          //开始数据的下标
          let startVal = parseInt((this.currentPage - 1) * this.pageSize);
          if (this.showTable) {
            return this.tableData.slice(startVal, startVal + this.pageSize);
          } else {
            return this.stusListData.slice(startVal, startVal + this.pageSize);
          }
          //1页 0  5  1-1 *5     (currentPage-1)*pageSize    (currentPage-1)*pageSize + pageSize
          //2页 5 10   2-1 *5
          //3页 10 15   3-1 *5
        },
        tableMaxHeight() {
          return window.innerHeight - 280 + 'px';
        }
      },
      methods: {
        //删除指定学生
        async deleteStudent(row) {
          if (confirm("确认要删除此学生信息吗？")) {
            const res = await deleteStuApi(row.id);  //删除
            console.log(res);
            if (res === 1) {
              this.$message.success("删除成功！")
              this.stusListData = await studentListDataApi(this.stuPramas);
            } else {
              this.$message.error("删除失败！");
            }
          }
        },
        //删除指定班级
        async deleteClass(val) {
          if (confirm("确认要删除此班级数据吗？")) {
            let data = await deleteSclClassApi(val.collegeId, val.gradeid, val.banname);
            if (data == "delete success") {
              alert("删除成功！");
              location.reload();
            } else {
              alert("删除失败！");
            }
          }
        },
        //修改
        async editStudentInfo(cell,event){
          console.log(cell,event);
          // event.stopPropagation();
          this.editInfo=cell.id;
          this.editStatus=true;
          this.editName=cell.name;
          
         
        },
        //保存修改
        async saveInfo(id){
          // console.log(editName)
          this.editStatus=false;
          let stuData={
            id:id,
            name:this.editName
          }
          let res = await alterStudentInfo(stuData);
          console.log(res);
          if(res.data==1){
            alert("修改成功！");
            this.stusListData = await studentListDataApi(this.stuPramas);
          }else{
            alert("修改失败，请重试!");
          }
          
        },
        // 点击确定实现新增
        async addWorkExperience() {
          let stuentWork = await addWorkExperienceApi(
            this.studentId,
            this.workExperience.company,
            this.workExperience.positionName,
            this.workExperience.address,
            this.workExperience.jobNumber,
            this.workExperience.salary,
            this.workExperience.salaryRemark,
            this.workExperience.jobDate ? this.format(this.workExperience.jobDate, "yyyy/MM/dd") : '',
            this.workExperience.leaveDate ? this.format(this.workExperience.leaveDate, "yyyy/MM/dd") : '',
            this.workExperience.cause);
          console.log(stuentWork);
          if (stuentWork.data != 'not' && stuentWork.status == 200) {
            this.$message({
              message: '新增成功',
              type: 'success'
            });
            this.addVisible = false;
            this.workExperience = {};
            this.studentWE()
          } else {
            this.$message.error('公司名称和地点必填，请重新填写')
          }
        },
        // 点击查看学生详情
        async handleClickDetails(data) {
          this.studentId = data.id;
          this.drawerDetails = true;
          this.studentDetail = await studentDetailApi(data.id);
          this.studentAvatar = await studentAvatarApi(data.id);
          this.studentWE();
        },
        async studentWE() {
          this.studentWorkExperience = await studentWorkExperienceApi(this.studentId);
          console.log(this.studentWorkExperience);
        },
        // 根据返回的日期计算间隔
        // 时间戳转日期
        toDate(number) {
          let n = number;
          let date = new Date(n);
          let Y = date.getFullYear() + '/';
          let M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '/';
          let D = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
          return (Y + M + D)
        },
        toAge(timeStamp) {
          let birthDate = this.toDate(timeStamp).substr(0, 4);
          let newDate = new Date().getFullYear();
          return (newDate - parseInt(birthDate));
        },
        // 是否确认关闭
        handleClose(done) {
          this.$confirm('确认关闭？')
            .then(_ => {
              done();
            })
            .catch(_ => { });
        },
        ///搜索条件
        searchFilter(data) {
          if (this.showTable) {
            return data.college.toLowerCase().includes(this.searchSchool.toLowerCase()) || data.grade.toLowerCase().includes(this.searchSchool.toLowerCase())
          } else {
            return data.name.toLowerCase().includes(this.searchStudent.toLowerCase()) || (data.company ? data.company.toLowerCase().includes(this.searchStudent.toLowerCase()) : data.company) || (data.companyList ? data.companyList.join('').toLowerCase().includes(this.searchStudent.toLowerCase()) : data.companyList.join(''))
          }

        },
        //选择学校
        handleSelectionChange(val) {
          // console.log(val)
          val.forEach((element, index) => {
            val[index] = {
              "collegeId": element.collegeId,
              "gradeid": element.gradeid
            }
          });
          this.multipleSelection = val;
        },
        //选择学生
        handleSelectStudent(val) {
          val.forEach((element, index) => {
            val[index] = element.id
          });
          this.stuListId = val;
          console.log(this.stuListId);
        },
        //返回
        handleClickBack() {
          this.currentPage = 1;
          this.searchStudent = '';
          this.showTable = true;
          location.reload();
        },

        //分页切换，上一页
        prevPage(val) {
          this.currentPage = val
        },
        //下一页
        nextPage(val) {
          this.currentPage = val
        },
        //当前页
        currentPageFunc(val) {
          this.currentPage = val
        },
        //导入数据
        async uploadData(e) {
          event.preventDefault();
          var fileFormData = new FormData();
          var file = e.target.files[0];
          fileFormData.append("uploadExcel", file);
          await uploadDataApi(fileFormData);
        },
        //导出数据
        async downloadData() {
          //默认导出所有数据
          const dataAllId = []
          if (this.showTable) {
            this.tableData.forEach(element => {
              dataAllId.push({
                "collegeId": element.collegeId,
                "gradeid": element.gradeid
              })
            });
            if (dataAllId.length == 0) {
              this.$message.warning("没有可导出的数据！");
              return;
            }
            const arrId = this.multipleSelection.length > 0 ? this.multipleSelection : dataAllId
            if (this.multipleSelection.length > 0) {
              this.$message.success('已导出所选学校数据！');
              this.$refs.multipleTable.clearSelection();
            } else {
              this.$message('默认导出所有院校数据！');
            }
            await downloadDataApi(arrId).then(result => {
              this.downFunc(result)
            })
          } else {
            //导出学生数据
            this.stusListData.forEach(element => {
              dataAllId.push(element.id);
            });
            const arrId = this.stuListId.length > 0 ? this.stuListId : dataAllId
            if (this.stuListId.length > 0) {
              this.$message.success('已导出所选学生信息数据！');
              this.$refs.multipleStuTable.clearSelection();
            } else {
              this.$message('默认导出所有学生数据！');
            }
            await downloadStudentDataApi(arrId).then(result => {
              this.downFunc(result)
            })
          }
        },
        //下载
        downFunc(result) {
          let url = window.URL.createObjectURL(result);
          let link = document.createElement('a');
          link.style.display = 'none'
          link.href = url;
          link.setAttribute('id', 'downloadLink')
          let excelName;
          if (this.showTable) {
            excelName = "学校就业信息表.xls"
          } else {
            excelName = "学生就业信息表.xls"
          }
          link.setAttribute('download', excelName);
          document.body.appendChild(link)
          link.click();

          // 删除添加的a链接
          let objLink = document.getElementById('downloadLink')
          document.body.removeChild(objLink)
          this.multipleSelection.length = 0;
          this.stuListId.length = 0;
        },
        //通过用户查询学校学生信息
        async schoolListData(roleId) {
          this.tableData = await schoolListDataApi(roleId);
        },
        //分组查看学生列表，单击某个学校查看对应的学生数据
        async studentListData(row) {
          this.searchSchool = '';
          this.showTable = false;
          this.currentPage = 1;
          this.stuPramas = {
            "collegeId": row.collegeId,
            "gradeid": row.gradeid,
            "subjectid": row.subjectId
          }
          this.stusListData = await studentListDataApi(this.stuPramas);

        },
        //退出
        loginout() {
          this.$confirm('确定要退出吗?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning',
            center: true
          }).then(() => {
            this.$message({
              type: 'success',
              message: '退出成功!'
            });
            localStorage.clear();
            window.location.href = "login.html";
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '已取消退出'
            });
          });
        },
        //日期格式化
        format(time, format) {
          var t = new Date(time);
          var tf = function (i) {
            return (i < 10 ? '0' : '') + i
          };
          return format.replace(/yyyy|MM|dd|HH|mm|ss/g, function (a) {
            switch (a) {
              case 'yyyy':
                return tf(t.getFullYear());
                break;
              case 'MM':
                return tf(t.getMonth() + 1);
                break;
              case 'mm':
                return tf(t.getMinutes());
                break;
              case 'dd':
                return tf(t.getDate());
                break;
              case 'HH':
                return tf(t.getHours());
                break;
              case 'ss':
                return tf(t.getSeconds());
                break;
            }
          })
        }
      }
    })
  </script>
</body>

</html>