body{
    background-color: #f8fbfc;
    min-width: 1200px;
    padding-bottom: 20px;
}
.header{
    display: flex;
    padding:0 20px;
    min-width: 1200px;
    width: 100%;
    height: 50px;
    background-color: #fff;
    box-sizing: border-box;
    
}
.logo{
    width: 50%;
    height: 50px;
    background: url(../imgs/logoljp.png) no-repeat left center;
    background-size: 300px;
}
.login_name{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    text-align: right;
    line-height: 50px;
}
.avatar>img{
    width: 25px;
    height: 25px;
    margin-top: calc((50px - 25px)/2);
    
}
.username{
    padding-right: 30px;
    margin-left: 10px;
    font-weight: 600;
}
.main{
    margin-top: 20px;
    padding: 0 20px;
}
.main .content{
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px #d6e9ff;
}
.content_top{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.content_title{
    width: 30%;
    height: 50px;
    background: url(../imgs/title_ljp.png) no-repeat left center;
    background-size: 180px;
}
.content_handle > a{
    display: inline-block;
    margin-right: 20px;
    width: 90px;
    height: 30px;
    color: #c3c6cc;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    background-size: 25px;
}
.content_handle > a:hover{
    text-decoration: underline;
    color: #4089ff;
}
.icon_edit{
    background: url(../imgs/icon_ljp01.png) no-repeat right center;
}
.icon_import{
    background: url(../imgs/icon_ljp02.png) no-repeat right center;
}
.icon_export{
    background: url(../imgs/icon_ljp03.png) no-repeat right center;
 
}
.content_handle .el-input{
    width: 332px;
}
.table_content{
    margin-top: 20px;
}

.el-table--enable-row-hover .el-table__body tr:hover>td {
    color: #3c83ff;
    cursor: pointer;
    font-weight: 600;
}
.el-table__header-wrapper{
    z-index: 1000;
    position: relative;
    border-radius: 7px;
    box-shadow: 0 0 10px #d1e1fa;
}
.el-table th.is-leaf{
    border: none !important;
}
.el-table::before {
    height: 0px !important;
}
/* 导入数据 */
.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}