body{
    background-color: #f8fbfc;
}
.header{
    display: flex;
    padding:0 20px;
    min-width: 1200px;
    width: 100%;
    height: 50px;
    background-color: #fff;
    box-sizing: border-box;
    
}
.logo{
    width: 50%;
    height: 50px;
    background: url(../imgs/logoljp.png) no-repeat left center;
    background-size: 300px;
}
.login_name{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    text-align: right;
    line-height: 50px;
}
.avatar>img{
    width: 25px;
    height: 25px;
    margin-top: calc((50px - 25px)/2);
    
}
.username{
    padding-right: 30px;
    margin-left: 10px;
    font-weight: 600;
}
.main{
    margin-top: 20px;
    padding: 0 20px;
}
.main .content{
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px #d6e9ff;
}
.content_top{
    display: flex;
    margin-bottom: 10px;
}
.content_title{
    width: 30%;
    height: 50px;
    background: url(../imgs/title_ljp.png) no-repeat left center;
    background-size: 180px;
}
.content_handle > a{
    display: inline-block;
    margin-right: 20px;
    width: 90px;
    height: 30px;
    color: #c3c6cc;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    background-size: 25px;
}
.icon_edit{
    background: url(../imgs/icon_ljp01.png) no-repeat right center;
}
.icon_import{
    background: url(../imgs/icon_ljp02.png) no-repeat right center;
}
.icon_export{
    background: url(../imgs/icon_ljp03.png) no-repeat right center;
 
}
